//COLORS

//Gray Palette
.white {
  color: $white;
}
.black {
  color: $black;
}
.gray-1 {
  color: $gray-1;
}
.gray-2 {
  color: $gray-2;
}
.gray-2-bg {
  background-color: $gray-2;
}
.gray-3 {
  color: $gray-3;
}
.gray-4 {
  color: $gray-4;
}
.gray-5 {
  color: $gray-5;
}
.gray-6 {
  color: $gray-6;
}
.gray-7 {
  color: $gray-7;
}
.gray-8 {
  color: $gray-8;
}
.gray-9 {
  color: $gray-9;
}

//BACKGROUND COLORS

//Gray Palette
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-gray-1 {
  background-color: $gray-1;
}
.bg-gray-2 {
  background-color: $gray-2;
}
.bg-gray-3 {
  background-color: $gray-3;
}
.bg-gray-4 {
  background-color: $gray-4;
}
.bg-gray-5 {
  background-color: $gray-5;
}
.bg-gray-6 {
  background-color: $gray-6;
}
.bg-gray-7 {
  background-color: $gray-7;
}
.bg-gray-8 {
  background-color: $gray-8;
}
.bg-gray-9 {
  background-color: $gray-9;
}
