//FONT STYLES
$base-font: sans-serif;
$base-font-size: 10px;
$base-font-color: #000;
$base-line-height: 1.3; 
$base-letter-spacing: 0; 

//LINK COLOR
$link-color: #00f;


//GRAY PALETTE
$white: #ffffff;
$black: #000000;
$gray-1: #f9fbfc;
$gray-2: #f3f6f9;
$gray-3: #e4e9ed;
$gray-4: #ced7e0;
$gray-5: #bac6d3;
$gray-6: #94a1b0;
$gray-7: #6b7789;
$gray-8: #4e5969;
$gray-9: #2f3847;


//MARGINS
$mg-xxl: 8rem;
$mg-xl: 6rem;
$mg-lg: 4rem;
$mg-md: 2rem;
$mg-sm: 1rem;
$mg-xs: 0.6rem;

//PADDING
$pd-xxl: 8rem;
$pd-xl: 6rem;
$pd-lg: 4rem;
$pd-md: 2rem;
$pd-sm: 1rem;
$pd-xs: 0.6rem;

//FONT SIZES
$font-xxxl: 3rem;
$font-xxl: 2.4rem;
$font-xl: 2rem;
$font-lg: 1.8em;
$font-md: 1.6rem;
$font-sm: 1.4rem;
$font-xs: 1.2rem;
$font-xxs: 1rem;

//CONTENT WIDTHS
$website-width: 2048px;
$content-width: 1200px;
$content-width-pad: calc(1200px + 64px);
$content-width-inset: 960px;